@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(/Fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: font2;
  src: url(/Fonts/Lausanne-500.woff2);
}

.moveLink{
  opacity: 0;
}

.mainLink:hover .moveLink{
  opacity: 1;
  transition: all ease 0.5s;
}


.moveX{
  animation: movingAnimation 10s linear infinite ;
}

@keyframes movingAnimation {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
  
}